@import '~antd/dist/antd.css';

.Layout {
	position: relative;
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%),
		url('https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.Content {
	margin: 0 50px;
}

.Footer {
	text-align: center;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 25px;
	background-color: #001529;
	color: white;
}

#components-layout-demo-top .logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px 24px 16px 0;
	float: left;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
	background-color: transparent;
}
