@import '~antd/dist/antd.css';

.Layout {
	background: url('https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
		no-repeat fixed;
	height: 100vh;
}

/* .site-layout-content {
  background: #fff;
  height: calc(100vh - 66px);
  margin-bottom: -50px;
} */

.Footer {
	text-align: center;
	height: 50px;
}

.Content {
	margin: 0 50px;
}

#components-layout-demo-top .logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px 24px 16px 0;
	float: left;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
	background-color: transparent;
}
